{% load i18n %}
{% load static %}
{% if request.user.is_authenticated %}
<div class="invite bg-blue">
    <div class="invite__content">
        <h3>{% trans 'Invite friends' %}</h3>
        <p>{% trans 'Starting today up to 50% for NETFLIX, YOUTUBE, SPOTIFY subscriptions with a secure payment from PAYPAL' %}</p>
    </div>
    <div class="invite__link-block">
        <p>{% trans 'Click on the link' %}</p>
        <div class="invite__link">
            <span>{{ refer_link }}</span>
			<button></button>
        </div>
		<div class="invite__msg-copied">
			Link copied
		</div>
    </div>
</div>
{% endif %}
<script src="{% static 'js/script.js' %}"></script>