{% load i18n %}
{% for item in user_subscriptions %}
    <div  class="account__subscr-item account__subscr-spotify bg-white">
        <h3 style="background: {{ item.offer.product.background_color}}">{{ item.offer.product.name }}</h3>
        <div class="account__subscr-item-body">
            <p>{{ item.offer.product.name }}</p>
            <a href="{% url 'offers' slug=item.offer.product.slug rate_slug=item.offer.rate.slug %}">
                {% trans 'Change plan' %}
            </a>
        </div>
    </div>
{% empty %}
    <h5>{% trans "You don't have any subscriptions yet." %}</h5>
{% endfor %}